<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/_layout.css" />
        <link rel="stylesheet" href="~/css/account/_accountLayout.css" />        
        <link rel="stylesheet" href="~/css/account/_sidebar.css" />
        <link rel="stylesheet" href="~/css/index/dropdown.css" />
        <link rel="stylesheet" href="~/css/index/menu.css" />
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/sessionManager.js"></script>
        <script type="module" src="~/js/account/userProfilePopup.js"></script>
        <script type="module" src="~/js/account/Pagination.js"></script>

        <style>
            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
            .content-wrapper {
                height: calc(100% - 51.5px);
                display: flex;
            }
            .select .page-link{
                background-color: #e4b867;
                color: white;
            }
        </style>
    </head>
    <body>
        <title>權限管理平台</title>
        <header>
            <div id="col1">
                <div id="left-nav" style="display: flex;">
                    <div class="head-logo-box navbar-toggle">
                        <div class="head-logo">桃園市養護工程處整合協作平台</div>
                    </div>
                </div>
            </div>
            <div id="col2">
                <nav class="navbar-toggle">
                    <div>
                        <div id="navbar-menu" class="navbar-collapse d-sm-inline-flex justify-content-between" style="float: right;">
                            <!-- 使用者圖示與名稱按鈕 -->
                            <div id="userMenuBtn" class="user-logo-box" data-target="userMenuContent">
                                <div id="username" class="username-text">
                                    <div class="user-icon"></div>
                                    <h5>@ViewBag.Username</h5>
                                </div>

                                <!-- 下拉選單內容 -->
                                <div id="userMenuContent" class="dropdown-content" style="width: 140px;">
                                    <ul class="menu-background">
                                        <li>
                                            <a id="profileBtn" class="nav-link menu-title">
                                                <h5 id="userProfile">帳號資料</h5>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link menu-title" href="/Portal/Logout">
                                                <h5>登出</h5>
                                            </a>
                                        </li>
                                        @if (User.IsInRole("超級管理員"))
                                        {
                                            <li>
                                                <a class="nav-link menu-title" href="/Account/User/List">
                                                    <h5>權限管理</h5>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </nav>
            </div>
        </header>
        <div class="content-wrapper" style="display: flex;">
            <div class="sidebar" style="width:300px;">
                <ul style="margin-top: 20px;">
                    <li>
                        <a class="nav-link menu-title" href="/Home/Index">
                            <span id="home" class="account-menu-icon"></span>
                            <span>協作平台</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link menu-title" href="/Account/User/List">
                            <span id="user" class="account-menu-icon"></span>
                            <span>使用者列表</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link menu-title" href="/Account/Role/List">
                            <span id="role" class="account-menu-icon"></span>
                            <span>身分列表</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link menu-title" href="/Account/Permission/List">
                            <span id="permission" class="account-menu-icon"></span>
                            <span>權限列表</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link menu-title" href="/Account/Department/List">
                            <span id="department" class="account-menu-icon"></span>
                            <span>部門列表</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link menu-title" href="/Mapdata/General/List">
                            <span id="data" class="account-menu-icon"></span>
                            <span>一般圖資列表</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link menu-title" href="/Mapdata/NotGeneral/List">
                            <span id="data" class="account-menu-icon"></span>
                            <span>特殊圖資列表</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div style="width:calc(100% - 300px); padding: 15px;">
                @RenderBody()
            </div>
        </div>
        <div class="modal fade" id="extendSessionModal" tabindex="-1" aria-labelledby="extendSessionModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="extendSessionModalLabel">登入即將過期</h5>
                </div>
                <div class="modal-body">
                    您的登入即將到期，是否延長？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="logoutBtn">登出</button>
                    <button type="button" class="btn btn-primary" id="extendBtn">延長登入</button>
                </div>
                </div>
            </div>
        </div>

    </body>
    <script>
        $(document).ready(function () {
            $('#userMenuBtn').on('click', function (e) {
                e.stopPropagation();
                $('#userMenuContent').toggle();
            });

            // 點擊外部關閉
            $(document).on('click', function () {
                $('#userMenuContent').hide();
            });

            // 防止點選選單本身也觸發外部點擊事件
            $('#userMenuContent').on('click', function (e) {
                e.stopPropagation();
            });
        });
    </script>
</html>
