<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RMIS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RMIS.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/index/dropdown.css" />
    <link rel="stylesheet" href="~/css/index/panel.css" />
    <link rel="stylesheet" href="~/lib/leaflet/leaflet.css" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/leaflet/leaflet.js"></script>
    <script src="~/lib/turf.js"></script>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .content-wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        header, nav {
            margin: 0;
            padding: 0;
            position: relative;
            z-index: 1051;
            background-color: #9ac43e
        }

            header .dropdown-button {
                font-size: 1.5rem; /* 調整字體大小 */
            }
        .nav-item{
            position: relative;
            display: inline-block;
        }
        
    </style>
    
</head>
<body>
    <div class="content-wrapper">
        @RenderBody()
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
