.d-none {
    display: none;
}
.category-cell{
    width: 500px;
}
.name-cell{
    width: 500px;
}
.more-cell{
    width: 100px;
    max-width: 100px;
}
.more-data:hover{
    background-color: gray;
}
.status-cell{
    width: 100px; 
    max-width: 100px;
}
.createAt-cell{
    width: 300px; 
    max-width: 300px;
}
.action-cell{
    width: 140px; 
    max-width: 140px;
}
