.more-cell{
    width: 100px;
    max-width: 100px;
}

.action-cell{
    width: 140px;
    max-width: 140px;
    text-align: center;
}

.loadingSpinner {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(255,255,255,0.7);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}