.name-cell{
    width: auto;
}
.status-cell{
    width: 100px; 
    max-width: 100px;
}
.createAt-cell{
    width: 300px; 
    max-width: 300px;
}
.action-cell{
    width: 140px; 
    max-width: 140px;
}
.permission-cell{
    width: 100px; 
    max-width: 100px;
}
.more-role:hover{
    background-color: gray;
}
