@* 交通事故 *@
@section accidentPanel{
    <div id="accidentPanel" class="panel hide">
        <div class="panelHeading">
            <span>
                交通事故
            </span>
            <button class="closeButton">&times;</button>
        </div>
        <div style="scrollbar-width: thin; height: 90%; overflow-y: auto;">
            <ul class="panelInput panelRadio" style="list-style: none; display: flex;" role="group" aria-label="Basic radio toggle button group">
                <li style="width: 25%">
                    <input type="radio" class="btn-check" name="accradio" id="accident1" autocomplete="off" checked />
                    <label class="btn" for="accident1">圖層開關</label>
                </li>
                <li style="width: 25%">
                    <input type="radio" class="btn-check" name="accradio" id="accident2" autocomplete="off"/>
                    <label class="btn" for="accident2">簡易查詢</label>
                </li>
                <li style="width: 25%">
                    <input type="radio" class="btn-check" name="accradio" id="accident3" autocomplete="off"/>
                    <label class="btn" for="accident3">資料匯出</label>
                </li>
            </ul>
            <div id="acc1" class="panelBody" style="display: block">
                <div class="form-group">
                    <label class="sw-label">
                        <input type="checkbox" name="" id="accCluster" class="sw-chk">
                        <span class="sw-box">
                            <span class="sw-btn"></span>
                        </span>
                        <span>叢集模組</span>
                    </label>
                </div>
                <div class="form-group">
                    <label class="sw-label">
                        <input type="checkbox" name="" id="accTimeline" class="sw-chk">
                        <span class="sw-box">
                            <span class="sw-btn"></span>
                        </span>
                        <span>A1A2熱區時間軸</span>
                    </label>
                </div>
                <div class="form-group">
                    <label class="sw-label">
                        <input type="checkbox" name="" id="accTowCmp" class="sw-chk">
                        <span class="sw-box">
                            <span class="sw-btn"></span>
                        </span>
                        <span>前後期比對</span>
                    </label>
                </div>
            </div>
            <div id="acc2" class="panelBody" style="display: none">
                <div class="form-group">
                    @* 日期範圍 *@
                    <label>日期範圍</label>
                    <input type="text" id="accStartDate" class="form-control" style="flex-grow: 1;border-radius:0; width: 30%;" readonly>
                    ⇔
                    <input type="text" id="accEndDate" class="form-control" style="flex-grow: 1;border-radius:0; width: 30%;" readonly>
                </div>
                <div class="form-group">
                    <label>行政區</label>
                    <select id="acc2AdminDict" class="form-select" style="flex-grow: 1;border-radius:0;">
                        <option value="-1">請選擇</option>
                        <option value="0">桃園區</option>
                        <option value="1">大溪區</option>
                        <option value="2">中壢區</option>
                        <option value="3">楊梅區</option>
                        <option value="4">蘆竹區</option>
                        <option value="5">大園區</option>
                        <option value="6">龜山區</option>
                        <option value="7">八德區</option>
                        <option value="8">龍潭區</option>
                        <option value="9">平鎮區</option>
                        <option value="10">新屋區</option>
                        <option value="11">觀音區</option>
                        <option value="12">復興區</option>
                    </select>
                </div>
                <div class="form-group">
                    @* 路名 *@
                    <label>路名</label>
                    <input type="text" id="accRoad" class="form-control" placeholder="搜尋道路" style="flex-grow: 1;border-radius:0; width: 30%;">
                </div>
                <div class="form-group" style="clear: both; padding: 8px; width: 100%; margin: 0 auto; text-align: center; justify-content: center;">
                    <button id="acc2GoResult" class="btn js-modal-toggle goResult">進行篩選</button>
                </div>
                <div id="accidentResultDiv" class="panelList">
                    <table id="accidentTable" class="propTable">
                    <thead id="accidentThead">
                        <th>事故類型</th>
                        <th>事故發生</th>
                        <th>行政區</th>
                        <th>事故地點</th>
                        <th>死亡人數</th>
                        <th>受傷人數</th>
                        <th>事故車種</th>
                        <th>經度</th>
                        <th>緯度</th>
                    </thead>
                    <tbody id="accidentTbody">
                    </tbody>
                </table>
                </div>
            </div>

            <div id="acc3" class="panelBody" style="display: none">
                <div class="form-group">
                    <label>行政區</label>
                    <select id="acc3AdminDict" class="form-select" style="flex-grow: 1;border-radius:0;">
                        <option value="-1">請選擇</option>
                        <option value="0">桃園區</option>
                        <option value="1">大溪區</option>
                        <option value="2">中壢區</option>
                        <option value="3">楊梅區</option>
                        <option value="4">蘆竹區</option>
                        <option value="5">大園區</option>
                        <option value="6">龜山區</option>
                        <option value="7">八德區</option>
                        <option value="8">龍潭區</option>
                        <option value="9">平鎮區</option>
                        <option value="10">新屋區</option>
                        <option value="11">觀音區</option>
                        <option value="12">復興區</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>年分</label>
                    <select id="acc3Year" class="form-select">
                            <option value="108">108</option>
                            <option value="109">109</option>
                            <option value="110">110</option>
                            <option value="111">111</option>
                            <option value="112">112</option>
                            <option value="113">113</option>
                            <option value="114">114</option>
                    </select>
                </div>
                <div class="form-group" style="clear: both; padding: 8px; width: 100%; margin: 0 auto; text-align: center; justify-content: center;">
                    <button id="acc3GoResult" class="btn js-modal-toggle goResult">匯出</button>
                </div>
            </div>
        </div>
    </div>
}