
@section AdminMenu{
    <div class="nav-item dropdown">
        <button id="dropdownMenuBtn" class="dropdown-button" data-target="adminMenuContent">管理員</button>
        <div id="adminMenuContent" class="dropdown-content">
            <ul id="adminMenu" class="menu-background">
                <li>
                    <a class="nav-link menu-title modal-link" data-action="/Admin/AddMapSource">
                        <h4>新增圖源</h4>
                    </a>
                </li>
                <li>
                    <a class="nav-link menu-title modal-link" data-action="/Admin/AddCategory">
                        <h4>新增類別</h4>
                    </a>
                </li>
                <li>
                    <a class="nav-link menu-title modal-link" data-action="/Admin/AddPipeline">
                        <h4>新增管線</h4>
                    </a>
                </li>
                <li>
                    <a class="nav-link menu-title modal-link" data-action="/Admin/AddRoadByCSV">
                        <h4>上傳路線資料</h4>
                    </a>
                </li>
                <li>
                    <a class="nav-link menu-title modal-link" data-action="/Admin/AddCategoryByJson">
                        <h4>上傳圖資類別</h4>
                    </a>
                </li>
                <li>
                    <a class="nav-link menu-title modal-link" data-action="/Admin/AddRoadProject">
                        <h4>新增道路專案</h4>
                    </a>
                </li>
                <li>
                    <a class="nav-link menu-title modal-link" data-action="/Admin/AddRoadProjectByExcel">
                        <h4>上傳道路專案</h4>
                    </a>
                </li>
                @* <li>
                    <a class="nav-link menu-title modal-link" data-action="/Admin/AddConstructionNotice">
                        <h4>新增施工通報</h4>
                    </a>
                </li> *@
                <li>
                    <a class="nav-link menu-title modal-link" data-action="/Admin/AddConstructNoticeByExcel">
                        <h4>上傳施工通報</h4>
                    </a>
                </li>
            </ul>
        </div>
    </div>
}
