@model RMIS.Models.HomeAddModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .treeview ul {
        list-style-type: none;
        padding-left: 1rem;
    }

    .treeview .node-label {
        cursor: pointer;
    }

    .treeview i {
        margin-right: 5px;
    }
</style>
<div class="container mt-5">
    <h1>Add Area or Road</h1>

    <!-- 切换按钮 -->
    <div class="mb-3">
        <button id="showAreaFormBtn" class="btn btn-primary">Add Area</button>
        <button id="showRoadFormBtn" class="btn btn-secondary">Add Road</button>
    </div>

    <div id="AreaForm" class="container mt-5" style="display:none">
        <h1>Add Area</h1>
        <form asp-controller="Area" asp-action="Add" method="post">
            <div class="row mb-3">
                <label>區塊名</label>
                <div class="col-md-4">
                    <input asp-for="AreaInput.City" class="form-control" placeholder="City" required>
                </div>
                <div class="col-md-4">
                    <input asp-for="AreaInput.Town" class="form-control" placeholder="Town" required>
                </div>
                <div class="col-md-4">
                    <input asp-for="AreaInput.Name" class="form-control" placeholder="Area" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary w-100">Submit</button>
                </div>
            </div>
            <div id="AreaMap" style="height: 800px; width:100%"></div>
            <div id="AreaPointsContainer" style="display:none"></div>
        </form>
    </div>
    <div id="RoadForm" class="container mt-5" style="display:none">
        <h1>Add Road</h1>
        <form asp-controller="Road" asp-action="Add" method="post">
            <div class="row mb-3">
                <label>道路名</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="City" asp-for="RoadInput.City" placeholder="City" required>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="Town" asp-for="RoadInput.Town" placeholder="Town" required>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="Name" asp-for="RoadInput.Name" placeholder="Road Name" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary w-100">Submit</button>
                </div>
            </div>
            <div id="RoadMap" style="height: 800px; width:100%"></div>
            <div id="RoadPointsContainer" style="display:none"></div>
        </form>
    </div>
</div>

<script>
    let RoadMap = null;
    let AreaMap = null;
    document.addEventListener("DOMContentLoaded", function () {
        initMap(AreaMap, "AreaMap", "AreaInput", "AreaPointsContainer");
        initMap(RoadMap, "RoadMap", "RoadInput", "RoadPointsContainer");
        var showAreaFormBtn = document.getElementById('showAreaFormBtn');
        var showRoadFormBtn = document.getElementById('showRoadFormBtn');
        var areaForm = document.getElementById('AreaForm');
        var roadForm = document.getElementById('RoadForm');

        showAreaFormBtn.addEventListener('click', function () {
            areaForm.style.display = 'block';
            roadForm.style.display = 'none';
        });

        showRoadFormBtn.addEventListener('click', function () {
            roadForm.style.display = 'block';
            areaForm.style.display = 'none';
        });
    });

    function initMap(map, mapId, inputPrefix, PointsContainer) {
        let pointIndex = 0;
        map = L.map(mapId).setView([24.957276277371435, 121.21903318892302], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        map.on('click', function (e) {
            var latitude = e.latlng.lat;
            var longitude = e.latlng.lng;
            console.log("Latitude: " + latitude + ", Longitude: " + longitude + "Index: ", pointIndex);
            var marker = L.marker([latitude, longitude]).addTo(map)
                .bindPopup("Coordinates: " + latitude + ", " + longitude).openPopup();
            addPointToForm(latitude, longitude);
        });
        function addPointToForm(latitude, longitude) {
            var pointsContainer = document.getElementById(PointsContainer);
            var newPointEntry = document.createElement('div');
            newPointEntry.innerHTML = ` <input type="text" step="any" class="form-control" name="${inputPrefix}.Points[${pointIndex}].Latitude" value="${latitude}" required>
                                        <input type="text" step="any" class="form-control" name="${inputPrefix}.Points[${pointIndex}].Longitude" value="${longitude}" required>
                                        <input type="Number" step="any"name="${inputPrefix}.Points[${pointIndex}].Index" value="${pointIndex}" required>
                                      `;
            pointsContainer.appendChild(newPointEntry);
            pointIndex++;
        }
    }
    function initAreaMap() {
        let areaPointIndex = 0;

        AreaMap = L.map('AreaMap').setView([24.957276277371435, 121.21903318892302], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(AreaMap);
        AreaMap.on('click', function (e) {
            var latitude = e.latlng.lat;
            var longitude = e.latlng.lng;
            console.log("Latitude: " + latitude + ", Longitude: " + longitude + "Index: ", areaPointIndex);
            var marker = L.marker([latitude, longitude]).addTo(AreaMap)
                .bindPopup("Coordinates: " + latitude + ", " + longitude).openPopup();
            addPointToForm(latitude, longitude);
        });

        function addPointToForm(latitude, longitude) {
            var pointsContainer = document.getElementById('AreaPointsContainer');
            var newPointEntry = document.createElement('div');
            newPointEntry.innerHTML = `
                                        <input type="text" step="any" class="form-control" name="AreaInput.Points[${areaPointIndex}].Latitude" value="${latitude}" required>
                                        <input type="text" step="any" class="form-control" name="AreaInput.Points[${areaPointIndex}].Longitude" value="${longitude}" required>
                                        <input type="Number"          name="AreaInput.Points[${areaPointIndex}].Index" value="${areaPointIndex}" required>
                                        `;
            pointsContainer.appendChild(newPointEntry);
            areaPointIndex++;
        }
    }

    function initRoadMap() {
        let roadPointIndex = 0;

        RoadMap = L.map('RoadMap').setView([24.957276277371435, 121.21903318892302], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(RoadMap);
        RoadMap.on('click', function (e) {
            var latitude = e.latlng.lat;
            var longitude = e.latlng.lng;
            console.log("Latitude: " + latitude + ", Longitude: " + longitude + "Index: ", roadPointIndex);
            var marker = L.marker([latitude, longitude]).addTo(RoadMap)
                .bindPopup("Coordinates: " + latitude + ", " + longitude).openPopup();

            addPointToForm(latitude, longitude);
        });
        function addPointToForm(latitude, longitude) {
            var pointsContainer = document.getElementById('RoadPointsContainer');
            var newPointEntry = document.createElement('div');
            newPointEntry.innerHTML = `
                                    <input type="text" step="any" class="form-control" name="RoadInput.Points[${roadPointIndex}].Latitude" value="${latitude}" required>
                                    <input type="text" step="any" class="form-control" name="RoadInput.Points[${roadPointIndex}].Longitude" value="${longitude}" required>
                                    <input type="Number" name="RoadInput.Points[${roadPointIndex}].Index" value="${roadPointIndex}" required>
                                    `;
            pointsContainer.appendChild(newPointEntry);
            roadPointIndex++;
        }
    }
</script>