@{
    ViewData["Title"] = "首頁";
}
<style>
    .custom-offcanvas-width {
        width: 20%;
    }

    #indexMap {
        height: 100vh;
        width: 100%;
    }

    .map-controls {
        position: absolute;
        top: 100px;
        left: 10px;
        width: 40px;
        z-index: 1055;
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
    }

        .map-controls div {
            font-size: 1.75rem;
            text-align: center;
            float: left;
            width: 39px;
            height: 39px;
            line-height: 42px;
            background: #567331;
            cursor: pointer;
            border: 0.03rem solid #ffffff;
            border-radius: 10px;
        }

            .map-controls div:hover {
                background-color: #91c54d;
            }

            .map-controls div.is-active {
                background-color: #91c54d;
            }

        .map-controls span {
            display: none;
        }
</style>
<link rel="stylesheet" href="~/css/index/dropdown.css" />
<link rel="stylesheet" href="~/css/index/layer.css" />
<link rel="stylesheet" href="~/css/index/menu.css" />
<link rel="stylesheet" href="~/css/index/svg_eye.css" />
<link rel="stylesheet" href="~/css/index/svg_switch.css" />
<link rel="stylesheet" href="~/css/index/popup.css" />
<link rel="stylesheet" href="~/css//index/searchPropPanel.css"/>
<link rel="stylesheet" href="~/css/index/searchPanel.css" />
<link rel="stylesheet" href="~/css/index/drawtool.css" />
<link rel="stylesheet" href="~/css/index/painterPanel.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jQuery-QueryBuilder/dist/css/query-builder.default.min.css">
<script src="~/lib/leaflet-editable/Leaflet.Editable.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jQuery-QueryBuilder/dist/js/query-builder.standalone.min.js"></script>
<!-- Leaflet Draw Script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>


@section HomeHeaderToolBar{
    <div class="nav-item dropdown">
        <button class="dropdown-button" data-bs-toggle="offcanvas" data-bs-target="#layerListBlock" aria-controls="layerListBlock">側欄</button>
    </div>
    <div class="nav-item dropdown">
        <button id="tb-searchPanel" class="dropdown-button">快搜</button>
    </div>
    <div class="nav-item dropdown">
        <button id="tb-painterPanel" class="dropdown-button">繪圖板</button>
    </div>
    <div class="nav-item dropdown">
        <button id="tb-searchPropPanel" class="dropdown-button">屬性搜尋</button>
    </div>
    <div class="nav-item dropdown">
        <button id="tb-addPhoto" class="dropdown-button">正射影像</button>
    </div>
}
@section HomeHeaderNavList{
    <nav class="col" style="padding: 0;">
    <div class="container-fluid ">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="float: right;">
            <div class="nav-item dropdown">
                <button class="dropdown-button" id="top-vav1" data-target="top-vav-list1">業務圖資</button>
                <div class="dropdown-content" id="top-vav-list1">
                </div>
            </div>
            <div class="nav-item dropdown">
                <button class="dropdown-button" role="button" id="" data-bs-toggle="dropdown" aria-expanded="false">
                    常用連結
                </button>
            </div>
            <div class="nav-item dropdown">
                <button class="dropdown-button" role="button" id="" data-bs-toggle="dropdown" aria-expanded="false">
                    圖資匯入
                </button>
            </div>
            <div class="nav-item dropdown">
                <button class="dropdown-button" role="button" id="" data-bs-toggle="dropdown" aria-expanded="false">
                    下載專區
                </button>
            </div>
        </div>
    </div>
</nav>
}


<div class="offcanvas offcanvas-start custom-offcanvas-width" style="background-color:#f2f7ec; z-index: 1050" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="layerListBlock" aria-labelledby="layerListBlockLabel">
    <div id="layerBarContainer" class="layerList container-fluid">
        <h5 id="offcanvasExampleLabel" class="offcanvas-body">圖資清單</h5>
    </div>
</div>

<div id="indexMap" style="width: 100%; height: 100vh;">
    <div class="map-controls" style="display:none">
        <div class="toolTip" id="tb-searchPanel"></div>
        <div class="toolTip"id="tbZoomIn"></div>
        <div class="toolTip"id="tbZoomOut"></div>
        <div class="toolTip"id="tbPrevE"></div>
        <div class="toolTip"id="tbNextE"></div>
        <div class="toolTip"id="tbToggleWin" data-hides=""></div>
        <div class="toolTip"id="tbFullE"></div>
        <div class="toolTip"id="tbUserLoc"></div>
        <div class="toolTip"id="tbStreetView"></div>
        <div class="toolTip"id="tbAttr"></div>
        <div class="toolTip" id="tbLocInfo" style="font-size:1rem;"></div>
    </div>
</div>

@* 快搜面板 *@
<div id="searchPanel" class="panel hide">
    <div class="panelHeading">
        <span>
            快速搜尋
        </span>
        <button id="search_Close" class="closeButton">&times;</button>
    </div>
    <div class="panelInput">
        <input type="text" class="searchPanelInput" placeholder="搜尋道路">
        <button class="searchPanelBtn"></button>
    </div>
    <div class="panelFooter">
        <ul id="searchList" class="panelList" style="max-height:160px">
        </ul>
    </div>
</div>

@* 繪圖面板 *@
<div id="painterPanel" class="panel hide">
    <div class="panelHeading">
        <span>
            繪圖板
        </span>

        <button class="closeButton">&times;</button>
    </div>
    <div class="panelInput">
        <div class="colorPickers">
            <span>外框</span>
            <input type="color" id="borderColor" name="colorPicker" value="#ff0000">
            <span>填滿</span>
            <input type="color" id="fillColor" name="colorPicker" value="#ff0000">
        </div>
       
    </div>
    <div id="drawTool" style="display:flex">
    </div>

    <div class="panelFooter">
        <ul id="painterList" class="panelList" style="max-height:130px">
        </ul>
    </div>
</div>
@* 屬性搜尋面板 *@
<div id="searchPropPanel" class="panel hide">
    <div class="panelHeading">
        <span>
            屬性搜尋
        </span>
        <div>
            <button class="closeButton">&times;</button>
        </div>
        
    </div>
    <ul class="panelInput" style="list-style: none; display: flex;" role="group" aria-label="Basic radio toggle button group">
        <li style="width: 25%">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked />
            <label class="btn btn-outline-success" style="width: 100%; border-radius: 0" for="btnradio1">依屬性</label>
        </li>
        <li style="width: 25%">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" />
            <label class="btn btn-outline-success" style="width: 100%; border-radius: 0" for="btnradio2">依空間</label>
        </li>
        <li style="width: 25%; visibility: hidden;">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" />
            <label class="btn btn-outline-success" style="width: 100%; border-radius: 0" for="btnradio3">結果</label>
        </li>
        <li style="width: 25%; visibility: hidden;">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off" />
            <label class="btn btn-outline-success" style="width: 100%; border-radius: 0" for="btnradio4">統計</label>
        </li>
    </ul>
    <div id="prop1" class="panelBody" style="display: block">
        <div class="form-group" style="display: flex; align-items: center;">
            <select id="pFeatSelect" class="form-select" style="flex-grow: 1;border-radius:0;">
                <option value="-1">請選擇圖層</option>
            </select>
        </div>
        <div id="propQuery" class="panelList" style="height:200px; max-height:200px; clear:both;">
        </div>
        <div class="form-group" style="clear:both;">
            <button class="btn js-modal-toggle" id="propClear">清除</button>
            <button class="btn js-modal-toggle" id="propGoFilter">進行篩選</button>
        </div>
    </div>
    <div id="prop2" class="panelBody" style="display: none">
        <div class="form-group" style="display: flex; align-items: center;">
            <select id="gFeatSelect" class="form-select" style="flex-grow: 1;">
                <option value="-1">請選擇圖層</option>
            </select>
        </div>
        <div id="shapeGroup" class="hide">
            <div id="propGeoCustom" style="height:100px; max-height:100px; clear:both;">
                <button id="propRect" type="button" style="width:90px; height:90px; float:left; margin-right:10px; background-color: #9ac43e">
                    <img src="/img/prop/rectangle.png" style="max-width: 100%; max-height: 100%;">
                </button>
                <button id="propCircle" type="button" style="width:90px; height:90px; float:left; margin-right:10px; background-color: #9ac43e">
                    <img src="/img/prop/circle.png" style="max-width: 100%; max-height: 100%;">
                </button>
                <button id="propPolygon" type="button" style="width:90px; height:90px; float:left; margin-right:10px; background-color: #9ac43e">
                    <img src="/img/prop/polygon.png" style="max-width: 100%; max-height: 100%;">
                </button>
            </div>
            <div class="form-group" style="clear:both;">
                <button class="btn js-modal-toggle" id="geoClear">清除</button>
                <button class="btn js-modal-toggle" id="geoGoFilter">進行篩選</button>
            </div>
        </div>
    </div>
    <div id="prop3" class="panelBody" style="background-color: white; padding-bottom: 0.2rem; display: none;">
        <div>
            <span style="width:50px; height:30px; margin:0px">圖層:</span>
            <span id="propResultLayer" style="margin:0px"></span>
        </div>
        <div>
            <span style="width:50px; height:30px; margin:0px">條件:</span>
            <span id="propResultCond" style="margin:0px"></span>
        </div>
        <div>
            <span style="margin-top:4px">結果列表</span>
            <span id="totalCount"></span>
            <a id="exportExcel1" class="exportExcel" style="float:right">匯出Excel</a>
        </div>
        <div id="propResultDiv" class="panelList" style="width:100%; height:280px; max-height:280px; overflow:auto;">
            <table id="propResult" class="propTable">
                <thead id="propThead"></thead>
                <tbody id="propTbody"></tbody>
            </table>
        </div>
        <div class="propPage">
            <span style="float:left">每頁最多</span>
            <select id="pageSize" style="float:left">
                <option value="10">10</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
            </select>
            <span style="float:left"> 筆</span>
            <span id="propPages" style="height:63px; width:50%; float:right;overflow-x: hidden; overflow-y: auto;">
            </span>
        </div>
    </div>
    <div id="prop4" class="panelBody" style="background-color: white; padding-bottom: 0.2rem; display: none;">
        <div style="height:30px;">
            <span style="width:50px; height:30px; margin:0px">圖層:</span>
            <span id="analysisResultLayer" style="margin:0px"></span>
        </div>
        <div id="analysisContent">
            <div class="form-group" style="width:45%; float: left">
                <label style="vertical-align: text-top;margin: 0px">屬性欄位(可複選)</label>
                <div class="listResult" style="height:120px;">
                    <ul id="anaFieldList" class="panelList">

                    </ul>
                </div>
            </div>
            <div class="form-group" style="width:45%; margin-left: 2px; float: right">
                <label style="vertical-align: text-top;margin: 0px">已選欄位</label>
                <div class="listBox" style="margin: 0px">
                    <div class="listResult" style="height:120px">
                        <ul id="anaSelList" class="panelList">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group mb-2">
                <label class="form-label mb-2">統計方式:</label>
                <div class="d-flex flex-wrap">
                    <div class="form-check me-3">
                        <input class="form-check-input anaI" type="checkbox" id="anaSum" name="anaSum" value="sum">
                        <label class="form-check-label" for="anaSum">加總</label>
                    </div>
                    <div class="form-check me-3">
                        <input class="form-check-input anaI" type="checkbox" id="anaAvg" name="anaAvg" value="avg">
                        <label class="form-check-label" for="anaAvg">平均</label>
                    </div>
                    <div class="form-check me-3">
                        <input class="form-check-input anaI" type="checkbox" id="anaMax" name="anaMax" value="max">
                        <label class="form-check-label" for="anaMax">最大值</label>
                    </div>
                    <div class="form-check me-3">
                        <input class="form-check-input anaI" type="checkbox" id="anaMin" name="anaMin" value="min">
                        <label class="form-check-label" for="anaMin">最小值</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="anaAll" name="anaAll" value="all">
                        <label class="form-check-label" for="anaAll">全選</label>
                    </div>
                </div>
            </div>

            <div class="form-group" style="clear:both; padding:8px; width:100%; margin-left:auto; margin-right:auto; text-align:center">
                <button class="btn js-modal-toggle" id="anaGoResult">顯示結果</button>
            </div>
            <div id="anaResultDiv" style="display:none">
                <div class="form-group" style="margin: 2px 0px 2px; clear: both;">
                    <label style="vertical-align: text-top; margin: 0px;">數值統計結果</label>
                    <a id="exportExcel2" class="exportExcel" style="float: right;">匯出Excel</a>
                </div>
                <div style="max-height: 114px; overflow-y: auto;">
                    <table id="propAnaResult" class="propTable" style="width: 100%;">
                        <thead>
                            <tr id="anaHdr" role="row" class="propRow" style="background-color:lightgreen">
                            </tr>
                        </thead>
                        <tbody id="anaBody"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var MenuData = @Html.Raw(Json.Serialize(ViewBag.JsTreeData));
        // 查看是否加到圖資清單
        let layerList = {};
        // 圖層管理
        let layers = {};
    </script>
    <script type="module" src="~/js/main.js"></script>
}
