@{
    ViewData["Title"] = "Home Page";
}
<style>
    .custom-offcanvas-width {
        width: 20%;
    }

    #indexMap {
        height: 100vh;
        width: 100%;
    }
    .section{
        display: flex; 
        align-items: center;
    }

    .section_icon {
        width: 24px; /* or any appropriate size */
        height: 24px;
        background-size: cover; /* or 'contain' depending on how you want the image to scale */
        background-repeat: no-repeat;
        display: block; /* Ensure the element is displayed */
    }
</style>
<link rel="stylesheet" href="~/css/index/dropdown.css" />
<link rel="stylesheet" href="~/css/index/layer.css" />
<link rel="stylesheet" href="~/css/index/menu.css" />
<link rel="stylesheet" href="~/css/index/svg_eye.css" />
<link rel="stylesheet" href="~/css/index/svg_switch.css" />
<link rel="stylesheet" href="~/css/index/painterPanel.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />

<!-- Leaflet Draw Script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
<header class="row gx-0 custom-header">
    <div class="col">
        <div class="nav-item">
            <button class="dropdown-button" onclick="location.href='@Url.Action("Index", "Home")'">Home</button>
        </div>
        <div class="nav-item dropdown">
            <button class="dropdown-button" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Admin
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Map</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AddCategory">Category</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AddPipeline">Pipeline</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AddRoad">Road</a></li>
            </ul>
        </div>
        <div class="nav-item dropdown">
            <button class="dropdown-button" data-bs-toggle="offcanvas" data-bs-target="#layerListBlock" aria-controls="layerListBlock">側欄</button>
        </div>
        <div class="nav-item dropdown">
            <button id="tb-searchPanel" class="dropdown-button">快搜</button>
        </div>
        <div class="nav-item dropdown">
            <button id="tb-painterPanel" class="dropdown-button">繪圖板</button>
        </div>

    </div>
        
    <nav class="col" style="padding: 0;">
        <div class="container-fluid ">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="float: right;">
                <div class="nav-item">
                    <button class="dropdown-button" asp-area="" asp-controller="Home" asp-action="Index">Home</button>
                </div>
                <div class="nav-item dropdown">
                    <button class="dropdown-button" id="header-layer1" data-target="header-layer-list1">業務圖資</button>
                    <div class="dropdown-content" id="header-layer-list1">
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <button class="dropdown-button" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        常用連結
                    </button>
                </div>
                <div class="nav-item dropdown">
                    <button class="dropdown-button" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        圖資匯入
                    </button>
                </div>
                <div class="nav-item dropdown">
                    <button class="dropdown-button" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        下載專區
                    </button>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="offcanvas offcanvas-start custom-offcanvas-width" style="background-color:#f2f7ec; z-index: 1050" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="layerListBlock" aria-labelledby="layerListBlockLabel">
    <div class="layerList container-fluid">
        <h5 class="offcanvas-body" id="offcanvasExampleLabel">圖資清單</h5>
    </div>
</div>
<div id="indexMap" style="width: 100%; height: 100vh;"></div>

<div id="searchPanel" class="panel searchPanel hide">
    <div class="panelHeading">
        快速搜尋
        <button class="closeButton">&times;</button>
    </div>
    <div class="panelBody">
        <input type="text" class="searchPanelInput" placeholder="請輸入">
        <button class="searchPanelBtn">搜尋</button>
    </div>
    <div class="panelFooter">
        <ul id="searchList" class="panelList">
        </ul>
    </div>
</div>

<div id="painterPanel" class="panel painterPanel hide">
    <div class="panelHeading">
        繪圖板
        <button class="closeButton">&times;</button>
    </div>
    <div class="panelBody">
        <label>外框</label>
        <input type="color" id="borderColor" name="colorPicker" value="#ff0000">
        <label>填滿</label>
        <input type="color" id="fillColor" name="colorPicker" value="#ff0000">
    </div>
    <div class="panelFooter">
        <ul id="painterList" class="panelList">
        </ul>
    </div>
    
</div>

@section Scripts {
    <script type="text/javascript">
        var MenuData = @Html.Raw(Json.Serialize(ViewBag.JsTreeData));
        // 查看是否加到圖資清單
        let layerList = {};
        // 圖層管理
        let layers = {};
    </script>
    <script type="module" src="~/js/main.js"></script>
}
