.active {
    background-color: lightgray;
}

.color-box {
    cursor: pointer;
    height: 28px;
    vertical-align: middle;
    width: 40px;
}

.colorPickers {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

    .colorPickers > div {
        display: contents;
        flex-basis: 100%;
        font-size: 0.9rem;
        gap: 10px;
        justify-content: flex-start;
    }

.custom-color-picker {
    display: inline-block;
    position: relative;
}

.custom-icon svg {
    height: 48px;
    width: 48px;
}

.drawMenu {
    background-clip: padding-box;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    height: 35px;
    right: 10%;
    width: 35px;
    margin-right:5px;
}

#colorPickerContent > div > select {
    height: 28px;
}

#drawClear {
    background-image: url('/svg/drawtool/clear.svg');
    background-size: 60%;
}

#drawCircle {
    background-image: url('/svg/drawtool/circle.svg');
    background-size: 50%;
}

#drawUndo {
    background-image: url('/svg/drawtool/back.svg');
}

#drawRedo {
    background-image: url('/svg/drawtool/noback.svg');
}

    #drawCircleMarker {
        background-image: url('/svg/drawtool/circlemarker.svg');
        background-size: 60%;
    }

#drawIO {
    background-image: url('/svg/drawtool/drawmenu.svg');
}

#drawMarker {
    background-image: url('/svg/drawtool/marker.svg');
    background-size: 60%;
}

#drawPolygon {
    background-image: url('/svg/drawtool/polygon.svg');
    background-size: 70%;
}

#drawPolyline {
    background-image: url('/svg/drawtool/polyline.svg');
    background-size: 80%;
}

#drawRectangle {
    background-image: url('/svg/drawtool/rectangle.svg');
    background-size: 60%;
}

#drawText {
    background-image: url('/svg/drawtool/text.svg');
}

#drawTool {
    left: -10%;
    padding: 10px 10px 10px;
    top: 50px;
}

    #drawTool .leaflet-draw-toolbar {
        border-radius: 0;
        box-shadow: none;
        display: flex;
        flex-direction: row;
    }

        #drawTool .leaflet-draw-toolbar a {
            display: block;
            height: 26px;
            margin-right: 5px;
            overflow: hidden;
            text-indent: -9999px;
            width: 26px;
        }

            #drawTool .leaflet-draw-toolbar a:hover,
            .drawMenu:hover {
                background-color: lightgray;
            }
    #drawTool .active {
        background-color: lightgray;
    }

#markerCircle {
    background-image: url('/svg/drawtool/marker/markerCircle.svg');
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 65%;
    height: 27px;
    width: 24px;
}

#markerCross {
    background-image: url('/svg/drawtool/marker/markerCross.svg');
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 70%;
    height: 27px;
    width: 24px;
}

#markerRectangle {
    background-image: url('/svg/drawtool/marker/markerRectangle.svg');
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 70%;
    height: 27px;
    width: 24px;
}

.finalTool{
    margin-right:0 !important;
}
.markerSelect {
    height: 50%;
    width: 50%;
}

.leaflet-bar a:last-child {
    border-bottom: 1px solid #ccc;
}

.select2-container {
    width: 45px !important;
}

.select2-container--open {
    z-index: 9999 !important; /* 提高 z-index */
}

.select2-selection {
    border: 1px solid #000000 !important;
    border-radius: 0 !important;
}
