#drawTool {
    padding: 10px 10px 10px;
    top: 50px;
    left: -10%;
}

    #drawTool .leaflet-draw-toolbar {
        box-shadow: none;
        border-radius: 0;
        display: flex;
        flex-direction: row;
    }

        #drawTool .leaflet-draw-toolbar a
        {
            text-indent: -9999px;
            display: block;
            width: 26px;
            height: 26px;
            overflow: hidden;
            margin-right: 5px;
        }
        #drawTool .leaflet-draw-toolbar a:hover,
        .drawMenu:hover {
            background-color:lightgray;
        }

#drawPolyline {
    background-image: url('/svg/drawtool/polyline.svg');
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-size: 80%;
    background-position: center;
}
#drawPolygon {
    background-image: url('/svg/drawtool/polygon.svg');
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-size: 70%;
    background-position: center;
}
#drawRectangle {
    background-image: url('/svg/drawtool/rectangle.svg');
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-size: 60%;
    background-position: center;
}
#drawCircle {
    background-image: url('/svg/drawtool/circle.svg');
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-size: 60%;
    background-position: center;
}

#drawMarker {
    background-image: url('/svg/drawtool/marker.svg');
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-size: 60%;
    background-position: center;
}

#drawCircleMarker {
    background-image: url('/svg/drawtool/circlemarker.svg');
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-size: 60%;
    background-position: center;
}

#drawText {
    background-image: url('/svg/drawtool/text.svg');
    background-repeat: no-repeat;
}

#drawIO {
    background-image: url('/svg/drawtool/drawmenu.svg');
    background-repeat: no-repeat;
}


.drawMenu {
    right: 10%;
    width: 35px;
    height: 35px;
    background-size: cover;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    margin-right: 5px;
}


.leaflet-bar a:last-child {
    border-bottom: 1px solid #ccc;
}

.active{
    background-color:lightgray;
}

.colorPickers {
    gap: 10px;
    display: flex;
    align-items: center; 
    flex-wrap: wrap;
}

    .colorPickers > div {
        flex-basis: 100%; 
        gap: 10px;
        justify-content: flex-start;
        display:contents;
        font-size:0.9rem;
    }

#colorPickerContent > div > select {
    height: 27px;
}