.dropdown-button {
    background-color: #9ac43e;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

    .dropdown-button:hover {
        background-color: white;
        color: black;
    }

.active {
    background-color: white;
    color: black;
}


.dropdown-content {
    background-color: #9ac43e;
    display: none;
    position: absolute;
    min-width: 300px;
    z-index: 1;
    max-height: 400px;
    overflow-y: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px
}


    .dropdown-content li {
        position: relative;
        background-color: white;
    }

        .dropdown-content li:hover {
            background-color: white;
        }

    .dropdown-content ul {
        list-style-type: none;
    }


