#adminMenuContent {
    font-size: 1.5rem;
    min-width:180px;
}

#imageData {
    max-height: 400px;
    min-width: 300px;
}

.active {
    background-color: white;
    color: black;
}

.dropdown-button {
    background-color: #9ac43e;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
}

    .dropdown-button:hover {
        
        background-color: white;
        color: black;
    }
    .open {
        background-color: white;
        color: black;
    }

.dropdown-content {
    background-color: #9ac43e;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
    left:-10px;
    position: absolute;
    z-index: 1;
}
    .dropdown-content li {
        background-color: white;
        position: relative;
    }

        .dropdown-content li:hover {
            background-color: white;
        }

    .dropdown-content ul {
        list-style-type: none;
    }

.menu-background{
    max-height: 350px;
    overflow-y: auto;
}
    .menu-background::-webkit-scrollbar {
        width: 2px;
        height:5px;
    }

.modal-link{
    cursor: pointer;
    font-size:large
}

@media (max-width: 899px) {
    .dropdown-content{
        width: 100%;
        left: 0px;
    }
}