#flagPanel .panelBody{
    border: 1px solid gray;
    border-radius: 0px;
    margin: 15px;
    padding-top: 10px;
}

#flagPanel .panelList{
    border: 1px solid gray;
    border-radius: 0px;
    margin: 15px;
    padding-top: 10px;
}

#flagPanel .form-group{
    margin-bottom: 10px;
    display: flex; 
    align-items: center;
}

#flagPanel .form-group label {
    width: 30%;
}
