#focusPanel .panelBody{
    border: 1px solid gray;
    border-radius: 0px;
    margin: 0 10px 10px;
    padding-top: 10px;
}

#focusPanel .panelList{
    border: 1px solid gray;
    border-radius: 0px;
    margin: 15px;
}

#focusPanel #focusTbody{
    border: 1px solid gray;
    border-radius: 0px;
    margin: 15px;
}

#focusPanel .form-group{
    margin-bottom: 10px;
    display: flex; 
    align-items: center;
}

#focusPanel .form-group label {
    width: 30%;
}

#focusPanel .form-group select, 
#focusPanel .form-group div {
    width: 70%;
}
