#measurePolyline {
    background-image: url('/svg/measure/measurePolyline.svg');
    background-position: center;
    background-size: 80%;

}

#measurePolygon {
    background-image: url('/svg/measure/measurePolygon.svg');
    background-position: center;
    background-size: 80%;
}

#measureEraser {
    background-image: url('/svg/measure/measureEraser.svg');
    background-position: center;
    background-size: 80%;
}

.mBtn:hover{
    background-color:gray;
}

#measureTool .active {
    background-color: gray;
}

.leaflet-pm-tooltip {
    display: none !important;
}

.measureLabel {
    text-align: center; /* 多行文字居中 */
    font-size: 24px; /* 讓文字更大 */
    font-weight: bold; /* 加粗字體 */
    overflow: hidden; /* 防止文字溢出 */
    word-wrap: break-word; /* 避免文字超出寬度 */
    line-height: 1.2; /* 調整行距，確保文字填滿 */
}

.lengthLabel {
    text-align: center; /* 多行文字居中 */
    color: red;
    font-size: 12px; /* 讓文字更大 */
    font-weight: bold; /* 加粗字體 */
    overflow: hidden; /* 防止文字溢出 */
    word-wrap: break-word; /* 避免文字超出寬度 */
    line-height: 1.2; /* 調整行距，確保文字填滿 */
}

.rotatedLabel {
    transform-origin: center; /* 使旋轉以標籤中心為基準 */
    white-space: nowrap; /* 防止文字換行，確保標籤一致性 */
}