#searchPanel {
    width: 300px;
    height: 270px;
}

#painterPanel {
    width: 250px;
    height: 270px;
}

#searchPropPanel {
    width: 700px;
    height: 500px;
}

.panel {
    z-index: 1051;
    position: absolute;
    top: 20%;
    left: 50%;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
}

.hide {
    display: none !important;
}

.panelHeading {
    background-color: #9ac43e;
    color: white;
    padding: 10px;
    cursor: move;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .panelHeading .close-button {
        background: none;
        border: none;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }

.panelBody {
    display: flex;
    justify-content: space-between; /* 使內部元素左右對齊 */
    align-items: center; /* 垂直方向上居中對齊 */
    padding: 10px;
}

.drawMenu {
    right: 10%;
    width: 24px; /* or any appropriate size */
    height: 24px;
    background-size: cover; /* or 'contain' depending on how you want the image to scale */
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url('/svg/drawmenu.svg');
}

.panelFooter {
    padding: 10px;
    flex-grow: 1;
    border-radius: 0 0 10px 10px;
}

.searchPanelInput {
    margin-bottom: 0;
}

.panelList {
    padding: 0;
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 2px solid green;
    height: 100%;
}

    .panelList li {
        list-style: none;
        margin: 0;
    }

.panelResult {
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .panelResult:hover {
        background-color: #e0e0e0;
    }

    .panelResult.selected {
        background-color: #e0e0e0;
    }


.searchBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-bottom: 5px;
}


.right-elements {
    display: flex;
    gap: 2px;
}


/* 自訂 .layerBar 的滾動條樣式 */
.panelList::-webkit-scrollbar {
    width: 2px;
}

.panelList::-webkit-scrollbar-track {
    background: #e0e0e0;
    border-radius: 10px;
}

.panelList::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 10px;
}

    .panelList::-webkit-scrollbar-thumb:hover {
        background: #444;
    }

#ptbInOut {
    display: none; /* 初始狀態下隱藏選單 */
    position: absolute; /* 相對於 drawMenu 定位 */
    top: 50px; /* 調整這個值來控制選單的位置 */
    right: -135px; /* 從圖示的右側顯示 */
    background: #fff;
    border: 1px solid #ccc;
    list-style: none;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

    #ptbInOut li {
        padding: 5px 10px;
        cursor: pointer;
    }

        #ptbInOut li:hover {
            background: #f0f0f0;
        }