.searchPanelBtn:hover{
    background-color:gainsboro;
}
.searchPanelBtn {
    width: 25px;
    height: 27px;
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    background-image: url('/svg/search.svg');
    cursor: pointer;
}

.searchPanelInput {
    margin-bottom: 0;
    width:90%;
}