.propTable {
    width: 100%;
    border-collapse: collapse;
}

    .propTable th, .propTable td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
        font-size: 18px;
    }

    .propTable th {
        background-color: #f2f2f2;
        font-weight: bold;
    }

    .propTable tr:nth-child(even) {
        background-color: #f9f9f9;
    }

.exportExcel:hover {
    color: white;
    background-color: gray;
}

.pageList a {
    width: 20px;
    color: blue;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
}

.pageList a:hover {
    background-color:gray;
}

.pageList .select {
    background-color: #9ac43e;
}

.selectRow {
    background-color: green !important;
    color: white;
}

div#propQuery_group_0 {
    margin: 0;
    border-radius: 0;
}