.eye {
    width: 24px; /* or any appropriate size */
    height: 24px;
    background-size: cover; /* or 'contain' depending on how you want the image to scale */
    background-repeat: no-repeat;
    cursor: pointer;
}

.eyeOpen {
    background-image: url('/svg/eye-open.svg'); /* Replace with the actual image path for the open eye */
}

.eyeClosed {
    background-image: url('/svg/eye-close.svg'); /* Replace with the actual image path for the closed eye */
}
