@{
    ViewData["Title"] = "身分管理";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<script type="module" src="~/js/account/role/roleManager.js"></script>
<h2>身分列表</h2>
<div style="display: flex;">
    <select id="roleSelector" class="selector form-select">
    </select>
    <button id="createRole">新增身分</button>
</div>

<div>
    <table class="table table-bordered text-center permissionTable">
        <thead>
            <tr>
                <th style="width: auto;">身分名稱</th>
                <th style="width: 100px; max-width: 100px;">狀態</th>
                <th style="width: 300px; max-width: 300px;">創建日期</th>
                <th style="width: 100px; max-width: 100px;">權限</th>
                <th style="width: 140px; max-width: 140px;">操作</th>
            </tr>
        </thead>
        <tbody id="roleTable">
        </tbody>
    </table>
    <div id="rolePage">

    </div>
</div>


