@*  測量面板 *@
<link rel="stylesheet" href="~/css/index/measureTool.css" />
<div id="measurePanel" class="panel hide">
    <div class="panelHeading">
        <span>
            測量
        </span>
        <button class="closeButton">&times;</button>
    </div>
    <div id="measureTool" class="panelFooter" style="display:flex; padding-bottom: 0;">
        <div id="measurePolyline" class="drawMenu mBtn" title="路線測量"></div>
        <div id="measurePolygon" class="drawMenu mBtn" title="面積測量"></div>
        <div id="measureEraser" class="drawMenu mBtn finalTool" title="清除全部"></div>
    </div>
    <div class="panelFooter" style="display:flex; padding-bottom: 0;">
        <div id="showLine" class="drawMenu mBtn eyeOpen" title="顯示邊長"></div>
        <div id="showTotal" class="drawMenu mBtn eyeOpen" title="顯示總和"></div>
    </div>
</div>    

