@* 詮釋資料 *@
<link rel="stylesheet" href="~/css/index/metaDataPanel.css" />
<div id="metaDataPanel" class="panel hide">
    <div class="panelHeading">
        <span>
            詮釋資料
        </span>
        <button class="closeButton">&times;</button>
    </div>
    <div style="scrollbar-width: thin; height: 90%; overflow-y: auto;">
        <div class="panelBody" style="display: block">
        </div>
    </div>
</div>

