@* 繪圖板 *@
<link rel="stylesheet" href="~/css/index/painterPanel.css"/>
<div id="painterPanel" class="panel hide">
    <div class="panelHeading">
        <span>
            繪圖板
        </span>
        <button class="closeButton">&times;</button>
    </div>
    <div id="drawTool" style="display:flex">
        <div id="drawClear" class="drawMenu dtBtn" title="橡皮擦"></div>
        <div id="drawUndo" class="drawMenu" title="復原"></div>
        <div id="drawRedo" class="drawMenu" title="取消復原"></div>
        <div id="drawEdit" class="drawMenu dtBtn" title="編輯"></div>
        <div id="drawPolyline" class="drawMenu dtBtn" title="繪製線段"></div>
        <div id="drawPolygon" class="drawMenu dtBtn" title="繪製多邊形"></div>
        <div id="drawRectangle" class="drawMenu dtBtn" title="繪製矩形"></div>
        <div id="drawCircle" class="drawMenu dtBtn" title="繪製圓形"></div>
        <div id="drawCircleMarker" class="drawMenu dtBtn" title="繪製圓形標記"></div>
        <div id="drawMarker" class="drawMenu dtBtn" title="繪製標記"></div>
        <div id="drawText" class="drawMenu dtBtn" title="繪製文字"></div>
        <div id="drawIO" class="drawMenu dtBtn finalTool" title="匯入/匯出">
            <ul id="ptbInOut">
                <li id="ptbIO_0" aria-expanded="true">匯入Json</li>
                <li id="ptbIO_1">匯出Json</li>
                <li id="ptbIO_2">匯入圖資</li>
            </ul>
        </div>
    </div>
    <div class="panelInput" style="display:block">
        <div id="colorPicker" class="colorPickers">
            <div id="colorPickerContent">
            </div>
            <div>
                <button class="goDraw">繪製</button>
            </div>
        </div>
    </div>
    <div class="panelFooter">
        <ul id="painterList" class="panelList" style="height:130px; max-height:130px">
        </ul>
    </div>
</div>
