@* 快搜面板 *@
<link rel="stylesheet" href="~/css/index/searchPanel.css" />
<div id="searchPanel" class="panel hide">
    <div class="panelHeading">
        <span>
            道路快搜
        </span>
        <button id="search_Close" class="closeButton">&times;</button>
    </div>
    <div class="panelInput">
        <input type="text" class="searchPanelInput" placeholder="搜尋道路">
        <button class="searchPanelBtn"></button>
    </div>
    <div class="panelFooter">
        <ul id="searchList" class="panelList" style="max-height:150px">
        </ul>
    </div>
</div>

