@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    <style>
    
    </style>
    <head>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/select2/select2.min.css" />        
        <link rel="stylesheet" href="~/lib/select2/select2-bootstrap-5-theme.min.css" />
        <link rel="stylesheet" href="~/css/Account/mapdataLayer.css" />
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/select2/select2.min.js"></script>
        <script type="module" src="~/js/account/mapdata/mapdataLayer.js"></script>
        
    </head>

    <body>
        <div class="modal-header">
            <h5 class="modal-title">查看圖資</h5>
        </div>
        <div class="modal-content">
            <div>
                @* 三個select LayerSelect、DistSelect、NameSelect *@
                <div class="d-flex justify-content-between align-items-center container mt-4">
                    <select id="mapdataLayerSelector" class="selector form-select">
                        <option value="" selected disabled>請選擇圖層</option>
                    </select>
                    <select id="mapdataDistSelector" class="selector form-select">
                        <option value="" selected disabled>請選擇行政區</option>
                        <option value="桃園區">桃園區</option>
                        <option value="大溪區">大溪區</option>
                        <option value="中壢區">中壢區</option>
                        <option value="楊梅區">楊梅區</option>
                        <option value="蘆竹區">蘆竹區</option>
                        <option value="大園區">大園區</option>
                        <option value="龜山區">龜山區</option>
                        <option value="八德區">八德區</option>
                        <option value="龍潭區">龍潭區</option>
                        <option value="平鎮區">平鎮區</option>
                        <option value="新屋區">新屋區</option>
                        <option value="觀音區">觀音區</option>
                        <option value="復興區">復興區</option>
                    </select>
                    <select id="mapdataNameSelector" class="selector form-select">
                    </select>
                    <button id="mapdataSearch" class="btn btn-primary" style="width:100px">查詢</button>
                </div>
            </div>
            <div class="modal-body">
                <div id="layerContainer" class="container mt-4 d-none">
                </div>
            </div>
        </div>
        <div class="loadingSpinner" style="display: none;">
            <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
                <span class="visually-hidden">載入中...</span>
            </div>
        </div>
    </body>
</html>
