@model RMIS.Models.Admin.AddCategoryInput;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header class="row gx-0">
    <div class="col">
        <div class="nav-item">
            <button class="dropdown-button" onclick="location.href='@Url.Action("Index", "Home")'">Home</button>
        </div>
        <div class="nav-item dropdown">
            <button class="dropdown-button" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Admin
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Map</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AddCategory">Category</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AddPipeline">Pipeline</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AddRoad">Road</a></li>
            </ul>
        </div>
    </div>
</header>

<form method="post" class="container">
    <h2>Create a New Category</h2>
    <label asp-for="ParentId">Parent Category (Optional)</label>
    <select asp-for="ParentId" asp-items="@Model.parentCategories" class="form-control">
        <option value="">-- None --</option>
    </select>
    <div class="form-group">
        <label asp-for="Name">Category Name</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Create Category</button>
</form>