@model RMIS.Models.Admin.AddCategoryInput;

@{
    ViewData["Title"] = "新增類別";
}

<form method="post" class="container">
    <h2>新增類別</h2>
    <label asp-for="ParentId">母類別(None為根類別)</label>
    <select asp-for="ParentId" asp-items="@Model.parentCategories" class="form-control">
        <option value="">-- None --</option>
    </select>
    <div class="form-group">
        <label asp-for="Name">類別名稱</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Create Category</button>
</form>