@model RMIS.Models.Admin.AddCategoryByJsonInput;

@{
    ViewData["Title"] = "上傳圖資類別";
    Layout = null; // 禁用 _Layout.cshtml 加载
}

<form method="post" class="container modal-form">
    <div class="form-group">
        <label for="categoryWithpipeline" class="control-label">請上傳 JSON 檔案：</label> <br />
        <input asp-for="categoryWithpipeline" type="file" class="form-control-file" accept=".json" />
        <span asp-validation-for="categoryWithpipeline" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">上傳資料</button>
</form>
