@model RMIS.Models.Admin.AddPipelineInput;

@{
    ViewData["Title"] = "新增圖資";
    Layout = null; // 禁用 _Layout.cshtml 加载
}


<form method="post" class="container modal-form">
    <div class="form-group">
        <label asp-for="Name">圖資名稱</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ManagementUnit">管理單位</label>
        <input asp-for="ManagementUnit" class="form-control" />
        <span asp-validation-for="ManagementUnit" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId">類別</label>
        <select asp-for="CategoryId" asp-items="@Model.Categories" class="form-control">
            <option value="">-- None --</option>
        </select>
    </div>
    <div class="form-group" style="height:140px">
        <label asp-for="selectedDepartmentIds">可用部門</label>
        <select asp-for="selectedDepartmentIds" asp-items="@Model.Departments" class="form-control" multiple>
        </select>
    </div>
    <div class="form-group" style="height:140px">
        <label asp-for="selectedGeometryTypes">圖層</label>
        <select asp-for="selectedGeometryTypes" asp-items="@Model.GeometryTypes" class="form-control" multiple>
        </select>
    </div>
    <div>

    </div>
    <div class="form-group">
        <label asp-for="Color">顏色</label>
        <input asp-for="Color" type="color" class="form-control" />
        <span asp-validation-for="Color" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">新增管線</button>
</form>

<script>
    function getGeometryTypes(kind) {
        $('#KindGroup').on('change', function () {
            const kind = $(this).val();
            console.log(kind);
        });
    }

    document.addEventListener("DOMContentLoaded", function () {
        getGeometryTypes();
    });
</script>
