@model RMIS.Models.Admin.AddRoadProjectByExcelInput;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "新增道路專案";
    Layout = null; // 禁用 _Layout.cshtml 加载
}

<script type="module" src="~/js/admin/AddRoadProjectByExcel.js"></script>


<div class="modal-content">
    <div class="container mt-4">
        <form>
            <div class="mb-4">
                <div class="mb-3">
                    <label>上傳檔案</label>
                    <input asp-for="projectFile" type="file" class="form-control" />
                </div>
                <div class="mb-3">
                    <div class="advanced-options" id="advancedOptions">
                        <div id="advancedContainer" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <button id="submit" class="btn btn-primary">上傳資料</button>    
    </div>
</div>