@model RMIS.Models.Admin.AddRoadByCSVInput;

@{
    ViewData["Title"] = "上傳路線資料";
}

<div class="container">
    <h2>上傳路線資料</h2>
    <form asp-action="AddRoadByCSV" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="ConstructionUnit" class="control-label">施工單位</label>
            <input asp-for="ConstructionUnit" class="form-control" />
            <span asp-validation-for="ConstructionUnit" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PipelineId" class="control-label">選擇管線</label>
            <select asp-for="PipelineId" asp-items="Model.Pipelines" class="form-control">
                <option value="" disabled selected>--None--</option>
            </select>
            <span asp-validation-for="PipelineId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>圖層</label>
            <select asp-for="LayerId" id="layersSelect" class=" form-control">
                <option value="" disabled selected>--None--</option>
                <!-- 選項 -->
            </select>
        </div>
        
        <div class="form-group">
            <label asp-for="road_with_pile_Csv" class="control-label">街道檔案</label></<br />
            <input asp-for="road_with_pile_Csv" type="file" class="form-control-file" />
            <span asp-validation-for="road_with_pile_Csv" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Upload and Import</button>
    </form>
</div>

@section Scripts {
    <script src="~/js/admin/AddRoadByCSV.js"></script>
}