@model List<RMIS.Models.Account.Mapdatas.MapdataPoint>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="~/lib/leaflet-polylinedecorator/leaflet-polylinedecorator.js"></script>
    <script src="~/js/account/mapdata/mapdataPoint.js"></script>
</head>
<body class="p-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="mb-0">Points Detail</h4>
        <button class="btn btn-secondary btn-sm" onclick="window.close()">返回</button>
    </div>
    <div id="map" style="height: 400px;" class="mb-4"></div>
    <table class="table table-bordered table-sm">
        <thead class="table-primary">
            <tr>
                <th>Index</th>
                <th>緯度</th>
                <th>經度</th>
                <th>資訊</th>
            </tr>
        </thead>
        <tbody id="mapdataPointBody">
        </tbody>
    </table>
</body>
</html>

