@model RMIS.Models.Account.Users.UserProfileView;
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/_layout.css" />
        <link rel="stylesheet" href="~/css/account/_accountLayout.css" />        
        <link rel="stylesheet" href="~/css/account/_sidebar.css" />
        <link rel="stylesheet" href="~/css/index/dropdown.css" />
        <link rel="stylesheet" href="~/css/index/menu.css" />
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/account/user/userProfile.js"></script>
    </head>
    @* <header>
        <div id="col1">
            <div id="left-nav" style="display: flex;">
                <div class="head-logo-box navbar-toggle">
                    <div class="head-logo">桃園市養護工程處整合協作平台</div>
                </div>
            </div>
        </div>
        <div id="col2">
            <nav class="navbar-toggle">
                <div>
                    <div id="navbar-menu" class="navbar-collapse d-sm-inline-flex justify-content-between" style="float: right;">
                        <!-- 使用者圖示與名稱按鈕 -->
                        <div id="userMenuBtn" class="user-logo-box">
                            <div class="user-icon"></div>
                            <!-- 下拉選單內容 -->
                            <div id="userMenuContent" class="dropdown-content" style="width: 140px;">
                                <ul class="menu-background">
                                    <li>
                                        <a class="nav-link menu-title" href="/Account/User/Profile">
                                            <h5 id="user-name">@Model.UserName</h5>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link menu-title" href="/Portal/Logout">
                                            <h5>登出</h5>
                                        </a>
                                    </li>
                                    @if (User.IsInRole("超級管理員"))
                                    {
                                        <li>
                                            <a class="nav-link menu-title" href="/Account/User/List">
                                                <h5>權限管理</h5>
                                            </a>
                                        </li>
                                    }
                                    </ul>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </nav>
            </div>
        </header> *@
    <body>
        <div class="modal-header">
            <h5 class="modal-title" id="registerModalLabel">使用者資料</h5>
        </div>
        <div class="modal-content">
            <div class="modal-body">
                <form class="container">
                    <div>
                        <input type="hidden" class="form-control" asp-for="Id" readonly>
                    </div>
                    <div class="form-group row" style="margin-bottom: 20px">
                        <label asp-for="DisplayName" class="col-sm-2 col-form-label">名稱</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" asp-for="DisplayName">
                        </div>
                        <span asp-validation-for="DisplayName" class="text-danger"></span>
                    </div>
                    <div class="form-group row" style="margin-bottom: 20px">
                        <label asp-for="UserName" class="col-sm-2 col-form-label">帳號</label>
                        <div class="col-sm-10">
                            <label asp-for="UserName" class="form-control-plaintext">@Model.UserName</label>
                        </div>
                    </div>
                    <div class="form-group row" style="margin-bottom: 20px">
                        <label class="col-sm-2 col-form-label">密碼</label>
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#resetPassword">修改密碼</button>
                        </div>
                    </div>
                    <div class="form-group row" style="margin-bottom: 20px">
                        <label asp-for="Role" class="col-sm-2 col-form-label">身分</label>
                        <div class="col-sm-10">
                            <label asp-for="Role" class="form-control-plaintext">@Model.Role</label>
                        </div>
                    </div>
                    <div class="form-group row" style="margin-bottom: 20px">
                        <label asp-for="Department" class="col-sm-2 col-form-label">部門</label>
                        <div class="col-sm-10">
                            <label asp-for="Department" class="form-control-plaintext">@Model.Department</label>
                        </div>
                    </div>
                    <div class="form-group row" style="margin-bottom: 20px">
                        <label asp-for="Email" class="col-sm-2 col-form-label">信箱</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" asp-for="Email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row" style="margin-bottom: 20px">
                        <label asp-for="Phone" class="col-sm-2 col-form-label">電話</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" asp-for="Phone">
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                    </div>
                    <button id="submit" class="btn btn-primary">儲存</button>
                    <button id="cancel" class="btn btn-secondary" href="/Home/Index">取消</button>
                </form>
            </div>
        </div>
        <div class="modal fade" id="resetPassword" tabindex="-1" aria-labelledby="resetPassword" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">修改密碼</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form form-horizontal" method="post">
                            <div class="form-body">
                                <div class="row">
                                    <input type="hidden" class="form-control" asp-for="Id" readonly>
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" style="padding-top:0.75em;text-align:right">原密碼</label>
                                            <div class="col-md-8">
                                                <input type="password" id="OriginPassword" name="OriginPassword" class="form-control border-primary" placeholder="原密碼">
                                                <div class="form-control-position" style="right: 15px;">
                                                    <i class="fa fa-eye fa-eye-slash mimaShow" data-id="Org"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" style="padding-top:0.75em;text-align:right">新密碼</label>
                                            <div class="col-md-8">
                                                <input type="password" id="NewPassword" name="NewPassword" class="form-control border-primary" placeholder="新密碼">
                                                <div class="form-control-position" style="right: 15px;">
                                                    <i class="fa fa-eye fa-eye-slash mimaShow" data-id="New"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" style="padding-top:0.75em;text-align:right">確認新密碼</label>
                                            <div class="col-md-8">
                                                <input type="password" id="CheckPassword" name="CheckPassword" class="form-control border-primary" placeholder="確認新密碼">
                                                <div class="form-control-position" style="right: 15px;">
                                                    <i class="fa fa-eye fa-eye-slash mimaShow" data-id="Check"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-10">
                                        <div class="form-group row">
                                            <label class="col-md-2 label-control" style="padding-top:0.75em;text-align:right"></label>
                                            <div class="col-md-10 ">
                                                <label class="text-danger" style="margin-top:10px">密碼規格：8字元以上、包含大寫字母、小寫字母、數字且不可與帳號相同。</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 m-auto">
                                        <button id="password-Save" type="button" class="btn btn-block btn-min-width btn-info mtop"><i class="ft-save"></i> 儲存</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        $(document).ready(function () {
            $('#userMenuBtn').on('click', function (e) {
                e.stopPropagation();
                $('#userMenuContent').toggle();
            });

            // 點擊外部關閉
            $(document).on('click', function () {
                $('#userMenuContent').hide();
            });

            // 防止點選選單本身也觸發外部點擊事件
            $('#userMenuContent').on('click', function (e) {
                e.stopPropagation();
            });
        });
    </script>
</html>