#addRoadProjectForm div input, 
#addRoadProjectForm div textarea {
    margin: auto;
    width: 90%;
}

#addRoadProjectForm #expansionRangeDiv div {
    display: flex;
}

#addRoadProjectForm #expansionRangeDiv input {
    width: 50%;
}
