@model RMIS.Models.Account.Departments.CreateDepartmentView;

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS：樣式優先載入 -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/select2/select2.min.css" />

    <!-- JS：功能腳本後載入（依照依賴順序） -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/select2/select2.min.js"></script>
    <script src="~/js/account/department/createDepartment.js"></script>

</head>
<body>
    <div class="modal-header">
        <h5 class="modal-title" id="registerModalLabel">新增部門資料</h5>
    </div>
    <div class="modal-content">
        <div class="modal-body">
            <form>
                <div class="form-group row mb-3">
                    <label asp-for="Name" class="col-sm-2 col-form-label">部門名稱</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" asp-for="Name">
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label class="col-sm-2 col-form-label">狀態</label>
                    <div class="col-sm-10 d-flex align-items-center">
                        <div class="form-check me-3">
                            <input type="radio" class="form-check-input" asp-for="Status" value="true" id="statusEnabled">
                            <label class="form-check-label" for="statusEnabled">啟用</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" asp-for="Status" value="false" id="statusDisabled">
                            <label class="form-check-label" for="statusDisabled">禁止</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label class="col-sm-2 col-form-label">業務圖資</label>
                    <div class="col-sm-10 d-flex align-items-center">
                        <select id="pipelineAccess" class="form-control" multiple></select>
                    </div>
                </div>
                <button id="submit" class="btn btn-primary">儲存</button>
                <button id="cancel" class="btn btn-secondary">取消</button>
            </form>
        </div>
    </div>
</body>
</html>
