@{
    ViewData["Title"] = "使用者管理";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<style>
    .d-none {
        display: none;
    }
</style>

<script src="~/js/account/departmentManager.js"></script>

<h2>部門列表</h2>
<div style="display: flex;">
    <select id="departmentSelector" class="selector form-select">
    </select>
</div>

<table class="table table-bordered text-center permissionTable">
    <thead class="table-primary">
        <tr>
            <th>部門名稱</th>
            <th>狀態</th>
            <th>創建日期</th>
            <th style="width: 140px; max-width: 140px;">操作</th>
        </tr>
    </thead>
    <tbody id="departmentTable">
    </tbody>
</table>
