@{
    ViewData["Title"] = "使用者管理";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<script src="~/js/account/userManager.js"></script>
<h2>使用者列表</h2>
<div style="display: flex;">
    <select id="departmentSelector" class="selector form-select">
    </select>
</div>

<table class="table table-bordered text-center permissionTable">
    <thead class="table-primary">
        <tr>
            <th style="width: 200px; max-width: 200px;">部門</th>
            <th style="width: 200px; max-width: 200px;">使用者</th>
            <th style="width: 200px; max-width: 200px;">帳號</th>
            <th style="width: 200px; max-width: 200px;">身分</th>
            <th style="width: 100px; max-width: 100px;">狀態</th>
            <th style="width: 200px; max-width: 200px;">信箱</th>
            <th style="width: 200px; max-width: 200px;">電話</th>
            <th style="width: 200px; max-width: 200px;">創建日期</th>
            <th style="width: 140px; max-width: 140px;">操作</th>
        </tr>
    </thead>
    <tbody id="userTable">
    </tbody>
</table>

