@model RMIS.Models.RoadModel.RoadClass.AddInput
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div id="RoadForm" class="container" style="display:none">
    <form asp-controller="Road" asp-action="Add" method="post">
        
        <div class="row mb-3">
            <h1>Add Road</h1>
            <label>道路名</label>
            <div class="col-md-4">
                <input type="text" class="form-control" id="City" asp-for="City" placeholder="City" required>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="Town" asp-for="Town" placeholder="Town" required>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="Name" asp-for="Name" placeholder="Road Name" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </div>
        </div>
        <div id="RoadMap" style="height: 800px;"></div>
        <div id="RoadPointsContainer" style="display:none"></div>
    </form>
</div>