@model RMIS.Models.RoadModel.RoadClass.EditInput
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container mt-5">
    <h2>Edit Road</h2>
    <!-- POST 方法 -->
    <form method="post">
        <!-- 第一行：City, Town, Name -->
        <div class="row mb-3">
            <label>道路名</label>
            <div class="col-md-4">
                <input type="text" class="form-control" id="City" asp-for="City" placeholder="City" required>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="Town" asp-for="Town" placeholder="Town" required>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="Name" asp-for="Name" placeholder="Road Name" required>
            </div>
        </div>

        <!-- 提交按钮 -->
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </div>
        </div>
    </form>


</div>