.navbar-toggle {
    display: block;
}

.head-logo {
    font-size: 18px;
    font-weight: 800;
}

.sidebar{
    background-color: #f6f5dd;
}

a > span {
    color: #897764;
    font-size: 24px;
    font-weight: bold;
}

header { 
    display: flex;
    background-color: #f0d984;
}

#col2 {
    margin-left: auto;
    margin-right: 40px;
    display: flex;
    align-items: center;
    align-self: stretch;
}

#col2 #head-nav,
#col2 #head-nav > .container-fluid {
    display: flex;
    align-items: center;
    height: 100%;
}

li {
    list-style-type: none;
}
