#role{
    background-image: url("/svg/account/role.svg");
    background-size: 70%;
    background-position: center;
}

#user{
    background-image: url("/svg/account/user.svg");
    background-size: 70%;
    background-position: center;
}

#permission{
    background-image: url("/svg/account/permission.svg");
    background-size: 70%;
    background-position: center;
}

#department{
    background-image: url("/svg/account/department.svg");
    background-size: 70%;
    background-position: center;
}

#home{
    background-image: url("/svg/account/home.svg");
    background-size: 70%;
    background-position: center;
}

.d-none {
    display: none;
}

.enable {
    border: 1px solid #32cd32;
    border-radius: 3px;
    color: #32cd32;
    width: 70%;
    margin: auto;
}

.stop{
    border: 1px solid #ff0000;
    border-radius: 3px;
    color: #ff0000;
    width: 70%;
    margin: auto;
}

.merged-cell {
    border-bottom: none !important; /* 移除下方邊框 */
    border-right: 1px solid #dee2e6 !important; /* 保持右邊框 */
}

    /* 讓最後一個合併的 `<td>` 恢復底部邊框 */
    .merged-cell[rowspan]:last-of-type {
        border-bottom: 1px solid #dee2e6 !important;
    }

.tbody-scroll {
    max-height: 550px; /* 你想要的固定高度 */
    overflow-y: auto;
    scrollbar-width: none;
}

.tbody-scroll table {
    margin: 0;
}

.table-container{
    border: solid 1px;
    height: 600px;
    overflow-y: auto;
}
    
.table-container table{
    width: 100%;
    height: 40px;
    margin-bottom: 0;
}
.permissionTable{
    font-size: 18px;
}

.permissionTable th, 
.permissionTable td {
    word-break: break-word; /* 讓長字串自動換行 */
    white-space: normal; /* 允許文字換行 */
    overflow: hidden;
}

.permissionTable thead{
    background-color: #f2f2f2;
}
.permissionTable tbody{
    vertical-align: middle;
}
.permissionName{
    font-weight: bold;
}

.edit{
    width: 100%;
    justify-items: center;
}

.selector{
    width: 30%;
}

.account-menu-icon{
    font-size: 1.75rem;
    text-align: center;
    float: left;
    width: 39px;
    height: 39px;
    line-height: 42px;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
}