@{
    ViewData["Title"] = "權限管理";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<link rel="stylesheet" href="~/css/Account/permissionManager.css" />
<script type="module" src="~/js/account/permission/permissionManage.js"></script>

<h2>權限列表</h2>
<div style="display: flex;">
    <select id="permissionSelector" class="selector form-select">
    </select>
    <button id="createPermission">新增權限</button>
</div>
<div class="table-container">
    <table class="table table-bordered text-center permissionTable">
        <thead>
            <tr>
                <th>權限名稱</th>
                <th class="status-cell">狀態</th>
                <th class="createAt-cell">創建日期</th>
                <th class="action-cell">操作</th>
            </tr>
        </thead>
    </table>
    <!-- tbody 放在獨立容器中滾動 -->
    <div class="tbody-scroll">
        <table class="table table-bordered text-center permissionTable mb-0">
            <tbody id="permissionTable">
                <!-- 資料動態插入 -->
            </tbody>
        </table>
    </div>
</div>
<div id="permissionPage" class="d-flex justify-content-center mt-2">
</div>